
body {
    background-color: #00303F;
    font: normal 15pt Arial;
}

header {
    color:white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 10px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.267);
}

select#flista {
    width: 150px;
}

div {
    padding: 8px;
    background: #DCAE1D;
}

.button-tabu {
    background:#7A9D96;
}

footer {
    color: white;
    font-size: 12pt;
    text-align: center;
}

